#todo-list{
    position: relative;
    z-index: 1;    
    margin: 10rem auto;
    width: 50%;
    text-align: center;
    background-color: rgb(145, 197, 227);
    border-radius: 5px;
    box-shadow: 0 0 1em rgb(255, 254, 254);

    h2{
        color: white;
        font-size: 5rem;
        text-align: center;
        margin: 1rem;
    }

    form{
        padding: 30px 20px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        
    }

    form, .todo {
        padding: 10px 20px;
        margin-bottom: 10px;
    }

    form {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    form input {
        width: 100%;
        padding: 4px 8px;
        flex-grow: 1;
        margin-right: 16px;
      }

    .todo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
      
    input[type='text'] { 
        font-size: 1.5rem; 
         
    }

    .todo input[type="checkbox"] {
        background-color: transparent;
        transform: scale(1.8) translateY(1px);
        margin: 0 16px 0 0;
        cursor: pointer;
    }

    .todo-text {
        width: 100%;
        font-size: 24px;
        line-height: 24px;
        display: flex;
        align-items: center;

        input {
            
            padding: 4px;  
        }
    }

    .todo-completed {
        color: black;
        display: flex;
        margin: 10px 0;
    }

    .todo-actions {
        
        display: flex;
        justify-content: space-between;

    }
}


