@import url("https://fonts.googleapis.com/css2?family=Freehand&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Freehand", cursive;
}

body {
  z-index: -300;
  width: 100vw;
  height: 100vh;
  transition: background-image 0.3s ease;
  background-image: url("/img/sun.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

/*.anim {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.cloud-0 {
  background: #fff;
  opacity: 0;
  position: absolute;
  z-index: 19;
  width: 100%;
  height: 100%;
  top: 0;
  animation: cloudtransparency 10s 1;
}
.cloud-1 {
  background: transparent url(https://manager.qualifio.com/library/externalbe_0/images/2020/clouds/cloud1-2.png) no-repeat 0 0;
  width: 1000px;
  height: 417px;
  position: absolute;
  z-index: 20;
  top: -25%;
  left: -250%;
  animation: cloudleft 10s 1;
}
.cloud-2 {
  background: transparent url(https://manager.qualifio.com/library/externalbe_0/images/2020/clouds/cloud2-2.png) no-repeat 0 0;
  width: 1000px;
  height: 266px;
  position: absolute;
  z-index: 21;
  top: -8%;
  right: -250%;
  animation: cloudright 10s 1;
}
.cloud-3 {
  background: transparent url(https://manager.qualifio.com/library/externalbe_0/images/2020/clouds/cloud3-2.png) no-repeat 0 0;
  width: 1000px;
  height: 266px;
  position: absolute;
  z-index: 22;
  top: 64%;
  left: -250%;
  animation: cloudleft 10s 1;
}
.cloud-4 {
  background: transparent url(https://manager.qualifio.com/library/externalbe_0/images/2020/clouds/cloud4-2.png) no-repeat 0 0;
  width: 1000px;
  height: 387px;
  position: absolute;
  z-index: 23;
  top: 40%;
  right: -250%;
  animation: cloudright 10s 1;
}
.cloud-5 {
  background: transparent url(https://manager.qualifio.com/library/externalbe_0/images/2020/clouds/cloud5-2.png) no-repeat 0 0;
  width: 1000px;
  height: 234px;
  position: absolute;
  z-index: 24;
  top: -15%;
  left: -250%;
  animation: cloudleft 10s 1;
}
.cloud-6 {
  background: transparent url(https://manager.qualifio.com/library/externalbe_0/images/2020/clouds/cloud6-2.png) no-repeat 0 0;
  width: 1000px;
  height: 249px;
  position: absolute;
  z-index: 25;
  top: 10%;
  left: -250%;
  animation: cloudleft2 10s 1;
}
.cloud-7 {
  background: transparent url(https://manager.qualifio.com/library/externalbe_0/images/2020/clouds/cloud1-2.png) no-repeat 0 0;
  width: 1000px;
  height: 417px;
  position: absolute;
  z-index: 25;
  right: -6%;
  left: -250%;
  animation: cloudright 10s 1;
}
@keyframes cloudleft {
  0% {
      left: 8%;
  }
  100% {
      left: -250%;
  }
}
@keyframes cloudright {
  0% {
      right: 8%;
  }
  100% {
      right: -250%;
  }
}
@keyframes cloudleft2 {
  0% {
      left: -8%;
      opacity: 1;
  }
  100% {
      left: -250%;
      opacity: 0;
  }
}
@keyframes cloudtransparency {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}  */
#todo-list {
  margin: 10rem auto;
  width: 50%;
  text-align: center;
  background-color: rgb(145, 197, 227);
  border-radius: 5px;
  box-shadow: 0 0 1em rgb(255, 254, 254);
  z-index: 100;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
}
#todo-list h2 {
  color: white;
  font-size: 5rem;
  text-align: center;
  margin: 1rem;
}
#todo-list form {
  padding: 30px 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
#todo-list form input {
  width: 100%;
  padding: 4px 8px;
  flex-grow: 1;
  margin-right: 16px;
}
#todo-list form input[type=text] {
  font-size: 1.5rem;
}
#todo-list form, #todo-list .todo {
  padding: 10px 20px;
  margin-bottom: 10px;
}
#todo-list .todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#todo-list .todo input[type=checkbox] {
  background-color: transparent;
  transform: scale(1.8) translateY(1px);
  margin: 0 16px 0 0;
  cursor: pointer;
}
#todo-list .todo-text {
  width: 100%;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
#todo-list .todo-text input {
  padding: 4px;
}
#todo-list .todo-completed {
  color: black;
  display: flex;
  margin: 10px 0;
}
#todo-list .todo-actions {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 720px) {
  #todo-list {
    padding: 1rem;
  }
  #todo-list h2 {
    font-size: 3rem;
  }
  #todo-list form {
    display: flex;
    flex-direction: column;
  }
  #todo-list form input {
    padding: 0;
    margin-bottom: 1rem;
  }
}
.dark {
  background-image: url(/img/backgroundNight.jpg);
}
.dark h1 {
  color: rgb(154, 53, 53);
}
.dark #todo-list {
  background-color: rgba(14, 14, 89, 0.705);
  box-shadow: 0 0 1em rgb(0, 0, 0);
}
.dark #todo-list h2 {
  color: black;
}
.dark #todo-list .containerBtn .btn {
  min-width: 100px;
  min-height: 60px;
  color: black;
  background: #09148d;
  background: linear-gradient(90deg, rgb(36, 68, 155) 0%, rgb(16, 29, 83) 100%);
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.866);
}
.dark #todo-list .containerBtn .btn::before {
  border: 6px solid #5900ff;
  box-shadow: 0 0 60px rgba(128, 57, 249, 0.64);
}
.dark #todo-list .containerBtn .btn:hover, .dark #todo-list .containerBtn .btn:focus {
  color: #2108de;
}
.dark #todo-list .containerBtn .btn::after {
  border: 6px solid #6a00ff;
}
.dark #todo-list .btn {
  min-width: 50px;
  min-height: 50px;
  background: linear-gradient(90deg, rgb(36, 68, 155) 0%, rgb(16, 29, 83) 100%);
  border: none;
  color: black;
  border-radius: 100px;
  border: none;
  margin: 0 0.5rem;
  padding: 10px;
  cursor: pointer;
}
.dark #todo-list .btn:hover {
  background: linear-gradient(90deg, rgb(52, 97, 219) 0%, #082460 100%);
}

.containerBtn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
}
.containerBtn .btn {
  min-width: 100px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #e4ed3b;
  background: linear-gradient(90deg, rgb(199, 222, 56) 0%, rgb(209, 192, 79) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(122, 106, 4, 0.866);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}
.containerBtn .btn::before {
  content: "";
  border-radius: 100px;
  min-width: 112px;
  min-height: 72px;
  border: 6px solid #ffff00;
  box-shadow: 0 0 60px rgba(128, 255, 0, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}
.containerBtn .btn:hover, .containerBtn .btn:focus {
  color: #de7308;
  transform: translateY(-6px);
}
.containerBtn .btn:hover::before, .containerBtn .btn:focus::before {
  opacity: 1;
}
.containerBtn .btn::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #ff8c00;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}
.containerBtn .btn:hover::after, .containerBtn .btn:focus::after {
  animation: none;
  display: none;
}
@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}

.btn {
  min-width: 50px;
  min-height: 50px;
  background: linear-gradient(90deg, rgb(199, 222, 56) 0%, rgb(209, 192, 79) 100%);
  border: none;
  color: #fff;
  border-radius: 100px;
  border: none;
  margin: 0 0.5rem;
  padding: 10px;
  cursor: pointer;
}
.btn:hover {
  background: linear-gradient(90deg, rgb(222, 153, 56) 0%, rgb(209, 135, 79) 100%);
}

.containerBtnDL {
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  background-color: rgba(255, 255, 255, 0.555);
  padding: 0.5rem 0.5rem;
  border-radius: 100px;
  position: absolute;
  left: 0rem;
  transition: all 0.3s ease;
}
.containerBtnDL .btnDark {
  padding: 5px;
  margin: 0;
  min-width: 35px;
  min-height: 15px;
  color: black;
  background: linear-gradient(90deg, rgb(73, 56, 222) 0%, rgb(86, 79, 209) 100%);
}
.containerBtnDL .btnLight {
  padding: 5px;
  margin: 0;
  min-width: 35px;
  min-height: 15px;
  color: white;
  background: linear-gradient(90deg, rgb(56, 194, 222) 0%, rgb(79, 129, 209) 100%);
}

/*label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

span {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2c3e50;
  transition: 0.3s;
  border-radius: 30px;
}
span:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 3px;
  bottom: 2.6px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

input:checked + span {
  background-color: #00c853;
}

input:checked + span:before {
  transform: translateX(29px);
}

strong {
  position: absolute;
  left: 100%;
  width: max-content;
  line-height: 30px;
  margin-left: 10px;
  cursor: pointer;
}*/
nav {
  height: 50px;
  background: linear-gradient(90deg, rgb(199, 222, 56) 0%, rgb(209, 192, 79) 100%);
  display: flex;
  justify-content: center;
}
nav .list {
  height: 100%;
  list-style-type: none;
  background: linear-gradient(90deg, rgb(199, 222, 56) 0%, rgb(209, 192, 79) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0;
  padding: 0;
}
nav .list .items {
  margin-right: 10px;
  color: #f1f1f1;
}
nav .btnNav {
  display: none;
}
@media screen and (max-width: 500px) {
  nav .list {
    flex-direction: column;
    justify-content: center;
    height: 200px;
  }
  nav .list .items:nth-child(1) {
    border-top: 1px solid #ffffff;
    margin-top: 50px;
  }
  nav .list .items {
    height: 50px;
    width: 200px;
    border-bottom: 1px solid #ffffff;
    line-height: 50px;
  }
  nav .btnNav {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #f1f1f1;
    cursor: pointer;
  }
}
header {
  z-index: -999;
  width: 100%;
}
header h1 {
  z-index: 100;
  font-size: 5rem;
  color: black;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
}
header figure {
  position: relative;
  z-index: -100;
  height: 100vh;
  background-image: url(/img/imgCloud/cloud1-2.png);
  background-size: cover;
  animation: clouds_animation 75s linear infinite;
}
@keyframes clouds_animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -2122px 0;
  }
}

@media screen and (max-width: 720px) {
  header h1 {
    font-size: 3rem;
    top: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
